* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #8a8c8f;
  color: #010101;
}

.body-container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #c2c2c2;
  /* border: 1px solid brown; */
}

/* ===== Nav and header ===== */

.header {
  /* border: 1px solid blueviolet; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../img/Rain-2.jpg);
background-size: cover;
background-repeat: no-repeat;
width: 100%;
height: 90vh;
padding-bottom: 20px;
}

.logo {
  /* border: 1px solid red; */
  width: 50%;
  max-width: 300px;
  align-self: center;
}
.logo img {
  height: auto;
  width: 100%;
}


/* ==== NEW === */
.nav-header {
  /* border: 1px solid palegreen; */
  display: flex;
  justify-content: space-between;
  background-color: #010101;
}

nav {
  background: #010101;
  opacity: 1;
  /* border: 1px solid green; */
  padding: 0 15px;
  margin: 10px 10px 0 0;
}

.nav-links a {
  text-decoration: none;
  color: #8a8c8f;
  padding: 7px;
}

.nav-links a:hover {
  color: #b29803;
}

.hidden-nav {
  /* display: none; */
  /* border: 1px solid red; */
  width: 20%;
  max-width: 150px;
  margin: 10px;
}
.hidden-nav img {
  width: 100%;
  height: auto;
}



/* hamburger icon is hidden on desktops */

#menu-toggle, .hamburger {
  display: none;
}

.nav-links {
  display: flex;
  flex-flow: row wrap;
}

.nav-links a {
  flex: 1 0;
  text-align: center;
}


/* ======= arrow ====== */

.scroll {
  /* border: 1px solid wheat; */
  margin-bottom: 10px;
  padding: 5px;
}
.scroll h3 {
  color: #c2c2c2;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 0.9em;
  text-transform: lowercase;
}

.center-con {
  display: flex;
  flex-direction: column;
  height: 25%;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  /* border: 1px solid red; */
}

.round {
  position: relative;
  border: 2px solid #c2c2c2;
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

span {
  z-index: 999;
  height: 3px;
  margin:1px;
  width: 20px;
  background: #b29803;
  transition: 0.4s ease;
}

span:first-child {
  display: block;
  position: absolute;
  transform: rotate(45deg);
  left: 25%;
  bottom: 35%;
}

span:nth-child(2) {
  display: block;
  position: absolute;
  transform: rotate(-45deg);
  left: 45%;
  bottom: 35%;
}

span:nth-child(3) {
  display: block;
  position: absolute;
  transform: rotate(45deg);
  left: 25%;
  bottom: 54%;
}

span:nth-child(4) {
  display: block;
  position: absolute;
  transform: rotate(-45deg);
  left: 45%;
  bottom: 54%;
}

.round:hover span:nth-child(1) {
  transform: rotate(-135deg);
}

.round:hover span:nth-child(2) {
  transform: rotate(135deg);
}

.round:hover span:nth-child(3) {
  transform: rotate(225deg);
}

.round:hover span:nth-child(4) {
  transform: rotate(-225deg);
}

/* =====  Content  ====== */

.content-container {
  background-color: #c2c2c2;
  /* border: 2px solid rebeccapurple; */
  margin: 0;
}

.contact-number {
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 12px;
  /* background-color: #010101; */
  font-size: 0.9em;
}
.contact-block {
  border: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-number img {
  padding-right: 10px;
}
.contact-number h3 {
  letter-spacing: 1.5px;
  color: #010101;
  padding-right: 10px;
  font-size: 1.3em;
  /* justify-content: space-around; */
}
.contact-number a {
  text-decoration: none;
  color: #010101;
  letter-spacing: 1.5px;
}

.content-container h1 {
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.6em;
  padding: 20px 10px;
}

.index-content-products {
  /* border: 1px solid greenyellow; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  /* margin-bottom: 30px; */
}

.content-group {
  /* border: 1px solid orangered; */
  display: flex;
  flex-direction: column;
  width: 45%;
}

.products-container {
  display: flex;
}

.products-description {
  /* border: 1px solid blue; */
  /* width: 50%; */
  letter-spacing: 1px;
  padding: 0 15px;
}

.tagline {
  /* border: 1px solid aqua; */
  letter-spacing: 1px;
  font-style: italic;
  color: #b29803;
  font-family: 'Rokkitt', serif;
  font-size: 1.4em;
  text-shadow: 0px 0px 10px rgba(255,255,255,0.79);
  /* width: 50%; */
}
.tagline h1 {
  /* border: 1px solid yellow; */
  margin: 0;
}

.products-description h3 {
  text-align: center;
  margin-top: 15px;
}
.products-description p{
  padding: 30px 0;
}

.products-img {
  /* border: 1px solid red; */
  width: 40%;
  height: 100%;
  margin-right: 35px;
}
.products-img img {
  width: 100%;
  border-radius: 4px;
  box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.486);
  /* vertical-align: middle; */
}

.content-cta {
  /* border: 1px solid plum; */
  text-align: center;
  padding: 15px 0;
}

.content-cta a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  background-color: #b29803;
  font-size: 0.9em;
}

.content-container-quote {
  /* border: 2px solid blueviolet; */
  display: flex;
  justify-content: space-between;
  background-color: #c2c2c2;
  padding: 15px;
  padding-left: 35px;
  margin-top: 15px;
}
.quote-img {
  width: 40%;
  /* border: 1px solid red; */
  /* margin-left: 35px; */
}
.quote-img img {
  width: 100%;
  border-radius: 4px;
  box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.486);
  /* padding-left: 15px; */
}

.quote-description {
  width: 45%;
  /* border: 1px solid blue; */
  padding: 0 15px 30px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  letter-spacing: 1px;
}
.quote-description h3 {
  text-align: center;
  padding: 10px;
}
.quote-description p {
  padding: 30px 0;
}

.content-container-gallery {
  background-color: #c2c2c2;
}
.cards-container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}

.card {
  /* border: 1px solid white; */
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px 0;
  text-align: center;
}
.card img {
  width:10%;
  align-self: center;
}
.card h4 {
  text-align: center;
  padding: 10px 0;
}
.card-paragraph {
  width: 80%;
  /* border: 1px solid gold; */
  /* height: auto; */
}
.card p {
  padding: 15px 5px;
}

.contact {
  padding-bottom: 6px;
}
 .contact-a {
  color: #010101;
  text-decoration: none;
} 

/* =====   FOOTER    ====== */

footer {
  background-color: #010101;
  padding-bottom: 10px;
}

.footer-container {
  height: 100px;
  display: flex;
  width: 100%;
  /* flex-direction: row; */
  justify-content: space-around;
  /* border: 1px solid red; */
}

.halo-logo-footer {
  display: flex;
  width: 20%;
  /* border: 1px solid aqua; */
  align-items: center;
  justify-content: center;
}
.halo-logo-footer img {
  height: 80px;
}

.fb-logo {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: center;
  /* border: 1px solid aqua; */
}
.fb-logo img {
  height: 80px;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  /* border: 1px solid aqua; */
}

.copyright p {
  text-align: center;  
  color: #c2c2c2;
  font-size: 0.9em;
}


/* =======  MEDIA Queries  ======= */

@media (max-width: 768px) {
  

  /* NEW========================= */
  .hidden-nav {
    display: flex;
    align-items: center;
    margin: 10px;
    /* background: #010101; */
    /* border: 1px solid red; */
  }
  
  nav {
    padding: .5rem;
    /* background: #010101; */
    /* position: fixed; */
    position:absolute;
    flex: 1;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
  }
  
  .nav-links {
    display: none;
  }
  
  .hamburger {
    display: flex;
    /* border: 1px solid aqua; */
    color: #b29803;
    font-size: 1.7em;
  }
  
  #menu-toggle:checked ~ .nav-links {
    display: flex;
    flex-direction: column;
  }

  /* PRODUCTS */

  .index-content-products {
    flex-direction: column-reverse;
  }

  .products-container {
    align-items: center;
  }
  .products-description{
    width: 100%;
  }
  .products-img {
    width: 100%;
  }
  .content-group{
    width: 100%;
  }

  .content-container-quote {
    flex-direction: column;
    align-items: center;
  }

  .content-container-quote {
    padding-left: 15px;
    
  }

  .quote-img, .quote-description {
    width: 100%;
  }

  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .card img {
    width: 20%;
  }
  
}

@media (max-width: 894px) {

  .contact-number {
    flex-direction: column;
  }
  .contact-block {
    margin: 5px 0;
  }
}