* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #8a8c8f;
    color: #010101;
  }
  
  .body-container {
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid brown; */
  }

  .nav-header {
    /* border: 1px solid palegreen; */
    display: flex;
    justify-content: space-between;
    background-color: #010101;
  }

  nav {
    background: #010101;
    opacity: 1;
    /* border: 1px solid green; */
    padding: 0 15px;
    margin: 10px 10px 0 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #8a8c8f;
    padding: 7px;
  }
  
  .nav-links a:hover {
    color: #b29803;
  }
  
  .hidden-nav {
    /* display: none; */
    /* border: 1px solid red; */
    width: 20%;
    max-width: 150px;
    margin: 10px;
  }
  .hidden-nav img {
    width: 100%;
    height: auto;
  }
  
  
  
  /* hamburger icon is hidden on desktops */
  
  #menu-toggle, .hamburger {
    display: none;
  }
  
  /* Flexbox styling */
  
  /* body {
    display: flex;
    flex-direction: column;
  } */
  
  .nav-links {
    display: flex;
    flex-flow: row wrap;
  }
  
  .nav-links a {
    flex: 1 0;
    text-align: center;
  }
  
  /* =====     Media queries     ===== */
  
  @media screen and (max-width: 768px) {
  
    .hidden-nav {
      display: flex;
      align-items: center;
      margin: 10px;
      background: #010101;
      /* border: 1px solid red; */
    }
    
    nav {
      padding: .5rem;
      background: #010101;
      position: fixed;
      flex: 1;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;
    }
    
    .nav-links {
      display: none;
    }
    
    .hamburger {
      display: flex;
      /* border: 1px solid aqua; */
      color: #b29803;
      font-size: 1.7em;
    }
    
    /*   when hamburger icon is checked, nav links will pop out */
    
    #menu-toggle:checked ~ .nav-links {
      display: flex;
      flex-direction: column;
    }
  }